{% extends "base.html.jinja" %}
{% set title = "Log in" %}
{% block content %}
<header>
  <h1 class="title">Log in</h1>
</header>

<main>
  {% if error %}
  <div class="notification is-danger">{{ error }}</div>
  {% endif %}

  <form method="post">
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" name="username" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" name="password" type="password" required>
      </div>
    </div>

    <button class="button is-primary">Log in</button>
  </form>
</main>
{% endblock %}
