{% extends "base.html.jinja" %}

{% block title %}Admin{% endblock %}
{% block content %}
<header>
  <h2>Admin</h2>
</header>

<main>
  <a class="btn btn-primary" href="/admin/new-user">New user</a>
</main>
{% endblock %}