{% extends "base.html.jinja" %}

{% block title %}Inventory{% endblock %}
{% block content %}
  <header>
    <h2>Inventory</h2>
  </header>

  <main>
    <table class="table">
      <tr>
        <th>Item</th>
        <th>Total</th>
        <th>Available</th>
        <th>Borrowed</th>
        <th>Borrowers</th>
        <th>Actions</th>
      </tr>
      {% for item in items %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.total_qty }}</td>
          <td>{{ item.available_qty }}</td>
          <td>{{ item.borrowed_qty }}</td>
          <td>{{ item.borrowers }}</td>
          <td><a href="/items/{{ item.id }}">Edit</a></td>
        </tr>
      {% endfor %}
    </table>
  </main>
{% endblock %}
