{% extends "base.html.jinja" %}

{% block title %}Log in{% endblock %}
{% block content %}
{% if error %}
<p class="text-danger">{{ error }}</p>
{% endif %}

<form class="bg-body-secondary border rounded p-3 w-25 d-flex flex-column gap-1" method="post">
  <input class="form-control" name="username" placeholder="Username" />
  <input class="form-control" name="password" placeholder="Password" type="password" />
  <button class="btn btn-primary">Log in</button>
</form>
{% endblock %}