{% extends "base.html.jinja" %}
{% set title = "Add an item" %}
{% block content %}
  <header>
    <h1 class="title mb-3">Add an item</h1>
    <a href="/items">Back to items</a>
  </header>

  <main>
    {% if error %}
      <div class="notification is-danger">{{ error }}</div>
    {% endif %}

    <form method="post">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" name="name" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <input class="input" name="description">
        </div>
      </div>

      <div class="field">
        <label class="label">Category</label>
        <div class="control select">
          <select name="category">
            <option value="Physical Assets">Physical Assets</option>
            <option value="Consumable Supplies">Consumable Supplies</option>
          </select>
        </div>
      </div>

      <div class="field">
        <label class="label">Location</label>
        <div class="control">
          <input class="input" name="location" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Quantity</label>
        <div class="control">
          <input class="input" type="number" name="quantity" min="1" required>
        </div>
      </div>

      <button class="button is-primary">Add</button>
    </form>
  </main>
{% endblock %}
