{% extends "base.html.jinja" %}
{% set title = "Items" %}
{% block content %}
<header class="level is-mobile">
  <div>
    <div>
      <h1 class="title mb-3">Items</h1>
      <h2 class="subtitle">There are currently {{ items|length }} items.</h2>
    </div>
  </div>
</header>

<main>
  {% if user.role >= 1 %}
  <a class="button is-primary mb-5" href="/items/add">Add an item</a>
  {% endif %}

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Status</th>
        <th>Available</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td><a href="/items/{{ item.id }}">{{ item.name }}</a></td>
        <td>{{ item.location }}</td>
        {% if item.available_qty == 0 %}
        <td><span class="tag is-danger">Unavailable</span></td>
        {% else %}
        <td><span class="tag is-success">Available</span></td>
        {% endif %}
        <td>{{ item.available_qty }}/{{ item.total_qty }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}
